/* .App {
  text-align: center;
  min-height: 100vh;
  background-color: #006654;
  overflow: hidden;
  color: white;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 37vh 37vh;
  grid-gap: 10px;
  height: 80vh;
  /* grid-auto-flow: column; */
/* }
.grid-item {
  border-radius: 9px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  
}

.grid-item .name-card {
  margin: 10px;
  position: absolute;
  background-color: #062925;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
 */ 


 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}